.root {
    -fx-background-color: linear-gradient(#2C3346 40%, #4E4F5B 120%) opacity 0.5;
}

#sideBar {
    -fx-background-color: #1E2337;
}

#loginButton, #registerButton {
    -fx-background-color: #1E2337;
}

#usernameField, #passwordField, #confirmPasswordField {
    -fx-background-color: #1E2337;
    -fx-text-fill: white;
}

#usernameField:selected, #usernameField:hover, #passwordField:selected, #confirmPasswordField:selected {
    -fx-border-radius: 2;
    -fx-border-color: orange;
    -fx-text-fill: white;
}

#fileChooserButton {
    -fx-background-color: orange;
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.button {
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.button:hover {
    -fx-border-color: orange;
    -fx-border-radius: 2;
    -fx-border-width: 1.5;
}