.root {
    -fx-background-color: #1E2337;
}

.button {
    -fx-background-color: #1E2337;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.button:hover {
    -fx-border-color: orange;
    -fx-border-width: 0 0 5 0;
    -fx-background-color: linear-gradient(to top, rgba(255,165,0,0.5), rgba(255,165,0,0));
}

#player-section .button{
    -fx-background-radius: 40px;
    -fx-background-size: 20px;
}

#playButton {
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#username {
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#searchBar {
    -fx-background-color: #2C3346;
    -fx-text-fill: white;
}

.progress-bar {
    -fx-accent: orange;
}

#searchBar:focused,
#searchBar:hover {
    -fx-border-color: orange;
    -fx-border-radius: 2;
    -fx-border-width: 1.5;
}