#anchor {
    -fx-background-color: #2C3360;
    -fx-background-color: linear-gradient(#2C3346 40%,#4E4F5B 120%) opacity 0.5;
}

#soundCover #playlistCover{
    -fx-padding: 20;
}
#soundTable #soundTitle.table-row-cell {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.table-view {
    -fx-base: transparent;
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-border-color: white;
    -fx-background-color: linear-gradient(#370B54 30%,#370B54 70%) opacity 0.5;
}

#innerBox1 {
    -fx-border-color: #7B7E8A;
    -fx-border-radius: 40px ;
}
#innerBox2 {
    -fx-border-color: #7B7E8A;
    -fx-border-radius: 40px ;
}
#innerBox3 {
    -fx-border-color: #7B7E8A;
    -fx-border-radius: 40px ;
}

.table-view .column-header {
    -fx-background-color: #2C3346;
}

.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(#370B54 0%,#370B54 100%);
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(#370B54 0%,#370B54 100%);
}



