.root {
    -fx-background-color: #121212;
}

.button {
    -fx-background-color: #121212;
    -fx-font-weight: bold;
    -fx-text-fill: #b3b3b3;
}

.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #ffffff;
}

#player-section .button{
    -fx-background-radius: 40px;
}
